
  <h1>Life is too short for playing Sudoku</h1>
  <div id="flash">
    <%= flash[:notice] %>
  </div>

  <table style="width:1000px;height:500px;" cellpadding="0" cellspacing="0">
  
  <td style="width:40px;text-align:right;vertical-align:center;">
    
    <form action="/easy" method="post">
     <button>Easy Game</button>
     </form>
     
    <form action="/medium" method="post">
     <button>Medium Game</button>
     </form>

     <form action="/difficult" method="post">
      <button>Difficult Game</button>
     </form>
    
    <form action="/check-input" method="post">
    <!-- all boxes, rows and cells -->   
      <button>Check solution</button>  
    <!-- <form action="/answer" method="get">
     <input type = "submit" value="I give up" name="level">
     </form>-->
    
  <td style="width:200px;vertical-align:center;">
  <div id="sudoku">
    
    
  <div class = 'board'>
    <!-- one div for each row -->
    <% 3.times do |row| %>
    <div class='row'>
      <!-- we want to create seperate div elements for boxes to style them using CSS -->
      <% 3.times do |box| %>
        <div class="box">
           <!-- each box will have nine cells -->
           <% 3.times do |cell_row| %>
                <div class="cell-row">
              <% 3.times do |cell| %>
                   <%= partial :cell, :locals=>{:cell_index => row*27+box*3+cell_row*9+cell} %>
                <% end %>
              </div>
            <%end %>
          </div>
         <% end %>
       </div>
      <% end %>
     </form>
    </div>
  </div> 
  </td>

<td style="width:40px;vertical-align:center;">
       
   <!--  <form action="/thing" method="get">
      <button>Thing</button>
     </form>
 -->     <!-- <form action="/answer" method="get">
     <input type = "submit" value="I give up" name="level">
     </form>-->

    <form action="/save" method="get">
      <button>Save game</button>
     </form>

     <form action="/load" method="get">
      <button>Load the saved game</button>
     </form>

     <form action="/answer" method="get">
      <button>I give up</button>
     </form>

    <form action="/restart" method="get">
      <button>Restart</button>
     </form>
    
  </td>

</table>