<!-- "Hello sudoku" -->
<html>
  <body background="images/skulls.png">
    <head>
    <title>Sudoku Game</title>
      <!-- link to the CSS stylesheet -->
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
    </head>
  <body>
    <%= yield %>
  </body>
</html>