div.box
{
  display: inline-block;
  outline: 2px solid red;
}

div.cell {
  display: inline-block;
  
  border: 2px solid green;
}

.cell input {
  width: 30px;
  height: 30px;
  font-size: 14;
  text-align: center;
}

#sudoku {
  font-size: 0;
  text-align: center;
}

body {
  text-align: center;
  font-family: sans-serif;}

.incorrect {
  background-color: yellow;
}

.value-provided {
 background-color: #DDD;
/* background-color: green;
*/}

#flash {
  margin: 20px;
}