div.box
{
  display: inline-block;
  outline: 2px solid red;
}

div.cell {
  display: inline-block;
  
  border: 2px solid green;
}

button { 
background: #382;
display: inline-block;
padding: 5px 10px 6px;
color: #fff;
text-decoration: none;
font-weight: bold;
line-height: 1;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px #999;
-webkit-box-shadow: 0 1px 3px #999;
text-shadow: 0 -1px 1px #222;
border-bottom: 1px solid #222;
position: relative;
cursor: pointer;
}



.cell input {
  width: 30px;
  height: 30px;
  font-size: 14;
  text-align: center;
}

#sudoku {
  font-size: 0;
  text-align: center;
  color: red;
}

body {
  text-align: center;
  font-family: sans-serif;
}

.incorrect {
  background-color: yellow;
}

.value-provided {
 background-color: #DDD;
/* background-color: green;
*/}

#flash {

  margin: 20px;


font-weight:bold;
color:#F52F18;
/*background-color:#D4D4D4;*/
letter-spacing:1pt;
word-spacing:2pt;font-size:15px;
text-align:center;
font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;line-height:1;



}