div.box, div.cell {
  display: inline-block;
  border: 1px solid red;
}

.cell input {
  width: 30px;
  height: 30px;
}

#sudoku {
  font-size: 0;
  text-align: center;
}

body {
  text-align: center;
  font-family: Arial;
}